@model DataTable
@using System.Data
<main id="main" class="main">

    <div class="pagetitle">
        <h1>User List</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="index">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search User</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <input type="number" class="form-control  border border-black" placeholder="User ID">
                                </div>
                                <div class="col-md-4">
                                    <input type="text" class="form-control  border border-black" placeholder="User Name">
                                </div>
                                <div class="col-md-4">
                                    <input type="number" class="form-control  border border-black" placeholder="Mobile">
                                </div>
                                <div class="text-start">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>
                   </div>
              </div>
         </div>
    </section>
                        <br />
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                       
                        <span class="text-danger">@TempData["ErrorMessage"]</span>
                        <span class="text-danger">@TempData["SuccessMessage"]</span>
                        <a class="btn btn-success float-end mb-2 mt-3" asp-area="" asp-controller="MST_User" asp-action="UserForm">Add User</a>

                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                            <h2 class="mt-3">User list</h2>

                                        <thead>
                                            <tr>
                                                 <th>User ID</th> 
                                                <th>User Name</th>
                                                <th>Password</th>
                                                <th>Email</th>
                                                <th>Mobile</th>
                                                <th>Active</th>
                                                <th>Admin</th>
                                                <th>Action</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                    <tr>
                                        <td>@dataRow["UserID"]</td>
                                        <td>@dataRow["UserName"]</td>
                                        <td>@dataRow["Password"]</td>
                                        <td>@dataRow["Email"]</td>
                                        <td>@dataRow["Mobile"]</td>
                                        <td>@dataRow["IsActive"]</td>
                                        <td>@dataRow["IsAdmin"]</td>

                                        <td>
                                            <a asp-controller="MST_User" asp-action="UserForm" class="btn btn-primary">
                                                <i class="bi bi-pencil-fill"></i>Edit

                                            </a>
                                            <a asp-controller="MST_User" asp-action="UserDelete" asp-route-UserID="@dataRow["UserID"]" class="btn btn-danger btn-xs">
                                                <i class="bi bi-trash">Delete</i>
                                            </a>

                                        </td>
                                    </tr>
                                }
                                        </tbody>

                                    </table>
                                </div>

                               
                         
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
    @*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
