@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model DataTable
@using System.Data

<main id="main" class="main">

    <div class="pagetitle">
        <h1>QulzWiseQuestion List </h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-Controller="Home" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item">Tables</li>
                <li class="breadcrumb-item active">Data</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->
    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                        <div>
                            <h5 class="card-title">Search Question</h5>

                            <form class="row g-3">
                                <div class="col-md-4">
                                    <label for="questionlevelid" class="form-label">Question Level </label>
                                    <select class="form-control" required>
                                        <option value="" disabled selected>Select a Quiz</option>
                                        <option value="Maths Quiz">Maths Quiz</option>
                                        <option value="General Knowledge Quiz">General Knowledge Quiz</option>
                                        <option value="Science Quiz">Science Quiz</option>
                                        <option value="History Quiz">History Quiz</option>
                                        <option value="Geography Quiz">Geography Quiz</option>
                                        <option value="Sports Quiz">Sports Quiz</option>
                                        <option value="Literature Quiz">Literature Quiz</option>
                                        <option value="Technology Quiz">Technology Quiz</option>
                                        <option value="Current Affairs Quiz">Current Affairs Quiz</option>
                                        <option value="Music Quiz">Music Quiz</option>
                                        <option value="Movie Trivia Quiz">Movie Trivia Quiz</option>
                                        <option value="Logical Reasoning Quiz">Logical Reasoning Quiz</option>
                                        <option value="Brain Teasers Quiz">Brain Teasers Quiz</option>
                                        <option value="English Grammar Quiz">English Grammar Quiz</option>
                                        <option value="Space & Astronomy Quiz">Space & Astronomy Quiz</option>
                                    </select>
                                </div>
                                <div class="text-start">
                                    <button type="submit" class="btn btn-success">Search</button>
                                    <button type="reset" class="btn btn-danger">Reset</button>
                                </div>
                            </form><!-- End No Labels Form -->
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>

    <br />

    <section class="section">
        <div class="row">
            <div class="col-lg-12">

                <div class="card">
                    <div class="card-body">
                           

                        <h5 class="card-title">QuizWiseQuestions List</h5>
                        <div class="d-flex p-3 justify-content-end">
                            <a asp-controller="MST_QuizWiseQuestions" asp-action="QuizWiseQuestionsForm" class="btn btn-primary w-20">
                                <i class="bi bi-plus"></i> Add QuizWiseQuestions
                            </a>
                        </div>
                        <!-- Table with stripped rows -->
                        <table class="table datatable">
                           <thead>
                                            <tr>
                                                <th>QuizWiseQuestionsID</th>
                                                <th>Quiz Name</th>
                                                <th>Entered Question</th>
                                                <th>User Name</th>
                                                <th>Created</th>
                                                <th>Modified</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                @foreach (DataRow dataRow in Model.Rows)
                                {
                                    <tr>
                                        <td>@dataRow["QuizWiseQuestionsID"]</td>
                                        <td>@dataRow["QuizName"]</td>
                                        <td>@dataRow["QuestionText"]</td>
                                        
                                        <td>@dataRow["UserName"]</td>
                                        <td>@dataRow["Created"]</td>
                                        <td>@dataRow["Modified"]</td>
                                        <td>
                                            <a asp-controller="MST_QuizWiseQuestions" asp-action="QuizWiseQuestionsForm" class="btn btn-primary">
                                                <i class="bi bi-pencil-fill"></i>Edit

                                            </a>
                                            <a asp-controller="MST_QuizWiseQuestions" asp-action="QuizWiseQuestionsDelete" asp-route-QuizWiseQuestionsID="@dataRow["QuizWiseQuestionsID"]" class="btn btn-danger btn-xs">
                                                <i class="bi bi-trash">Delete</i>
                                            </a>

                                        </td>

                                    </tr>
                                }
                                        </tbody>
                                
                        </table>
                        <!-- End Table with stripped rows -->

                    </div>
                </div>

            </div>
        </div>
    </section>
